---
layout: 'layouts/base'
title: 'Login - Reset Password'
order: 102
status: 'completed'
body_classes: 'unauth reset-password'
---

<section id="section__main">
    <div class="container h-100">
        <div class="row h-100 flex-column justify-content-between align-items-center">
            <div class="col-auto w-100">
                <div class="hino-logo bg-hino-red p-2 d-inline-block">
                    <img src="/assets/images/logo.svg" class="img-logo" />
                </div>
            </div>
            <div class="col-auto w-100">
                <img src="/assets/images/logo-heart-horizontal.svg" class="img-logo-heart-horizontal mx-auto d-block img-fluid" />
                <div class="container-login-form mx-auto">
                    <div class="d-flex w-100 justify-content-between mb-4">
                        <span class="font-weight-bold text-white">Reset Password</span>
                    </div>
                    <form class="form-forgot-password form-unauth">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm New Password" />
                        </div>
                        <div class="form-group mt-8">
                            <input type="submit" class="form-control rounded-pill bg-hino-red text-white font-weight-bold" value="Reset" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-auto text-center">
                 <p class="copyright">Copyright 2020 HINO New HEARTS. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>