---
layout: 'layouts/authenticated'
title: 'Sales Talk'
order: 1000
status: 'completed'
body_classes: 'auth sales-talk'
topbar: true
topbar_title: 'Sales Talk'
include_splide: true
after_sales_service: [
    {
        title: 'Program Layanan Purna Jual'
    },
    {
        title: 'Suku Cadang & Aksesoris'
    },
    {
        title: 'Dukung Operasional'
    },
    {
        title: 'Engine Overhaul Service Campaign'
    },
    {
        title: 'Program Layanan Purna Jual'
    },
    {
        title: 'Program Layanan Purna Jual'
    }
]
---

<section id="section__sales-talk" class="py-8">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card search-box sales-talk--search-box mb-6">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center">
                            <div class="col p-0">
                                <input type="text" class="search-box" placeholder="Cari Sales Talk" >
                            </div>
                            <div class="col-auto p-0">
                                <box-icon name="search" size="24px" color="#444444" class="d-block"></box-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-container grid--sales-talk">
                    {{#each after_sales_service }}
                    <div class="grid-item card m-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-stretch">
                                <div class="icon">
                                    <img src="/assets/images/ic-sales-talk.svg" class="img-icon" />
                                </div>
                                <div class="title mx-2 text-dark flex-grow-1 d-flex align-items-center justify-content-center">
                                    <p class="m-0">{{ title }}</p>
                                </div>
                                <div class="actions">
                                    <div class="h-100 d-flex flex-column justify-content-between">
                                        <button class="btn-action btn-download">
                                            <box-icon name="download" size="1rem"></box-icon>
                                        </button>
                                        <button class="btn-action btn-share">
                                            <box-icon name="share-alt" size="1rem"></box-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>            
        </div>
    </div>
</section>

<div id="popup-sales-talk-detail" class="popup-overlay">
    <div class="popup rounded">
        <div class="header"><button class="btn-close"><box-icon name="x"></box-icon></button></div>
        <div class="splide splide--sales-talk splide--gallery w-100">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="/assets/images/img-after-sales-gallery.png" style="width: 100%; max-width: 200%;" />
                    </li>
                    <li class="splide__slide d-flex align-items-end">
                        <img src="/assets/images/img-after-sales-gallery.png" style="width: 100%; max-width: 200%;" />
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</div>

<script>
    document.addEventListener( 'DOMContentLoaded', function () {

        document.querySelector('#popup-sales-talk-detail .btn-close').addEventListener('click', () => {
            document.querySelector('#popup-sales-talk-detail').classList.remove('is-active')
        })

        Array.from(document.querySelectorAll('.grid--sales-talk .grid-item .title')).forEach((item,index) => {
            item.addEventListener('click', () => {
                document.querySelector('#popup-sales-talk-detail').classList.add('is-active')
                
                let splideSalesTalk = new Splide( '.splide--sales-talk', {
                    arrows: true,
                    autoplay: false,
                    keyboard: false,
                    cover: false,
                    perMove: 1,
                    pagination: false,
                    arrowPath: 'M25,35l-15-15L25,5,20,0,0,20,20,40Z'
                }).mount()
            })
        })


        
    })
</script>