---
layout: 'layouts/authenticated'
title: 'Video Category'
order: 1100
status: 'completed'
body_classes: 'auth video-category'
topbar: true
include_splide: true
topbar_title: 'Video Category'
video_kategori_id: [
    'PLFLUoscduVNi5YfkpfJWpQvfAFvf58NrC',
    'PLa33Dq6YNtLiydMiGtmQIA584g6mDRzbm'
]
---

<section id="section__video-search" class="py-4">
     <div class="container">
        <div class="row">
            <div class="col">
                <div class="card search-box video--search-box mb-0">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center">
                            <div class="col p-0">
                                <input type="text" class="search-box" placeholder="Cari Video" >
                            </div>
                            <div class="col-auto p-0">
                                <box-icon name="search" size="24px" color="#444444" class="d-block"></box-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section__featured-video" class="py-4 text-dark">
    <div class="container px-0 px-md-6">
        <div class="row mx-0">
            <div class="col-12 px-6 px-md-0">
                <h5 class="font-weight-normal mb-4">Video Pilihan</h5>
            </div>
            <div class="col-12 px-0">
                <div class="splide splide--featured-video w-100">
                    <div class="splide__track">
                        <ul class="splide__list">
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<section id="section__video-list" class="text-dark">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-6">
            <div class="col-auto">
                <h5 class="font-weight-normal mb-0">Kategori Video</h5>
            </div>
            <div class="col-auto">
                <select class="form-control" id='select--video-category'>
                    <option value="PLFLUoscduVNi5YfkpfJWpQvfAFvf58NrC">Sample 1</option>
                    <option value="PLa33Dq6YNtLiydMiGtmQIA584g6mDRzbm">Sample 2</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="grid-container grid-container--video-category">

                </div>
            </div>
        </div>
    </div>
</section>

<script>

    const getVideoDetails = async (videoId, done) => {
        let requestVideo = new XMLHttpRequest()
        requestVideo.onload = function () {
            done(null, requestVideo.response);
        };
        requestVideo.onerror = function () {
            done(requestVideo.response);
        };
        //console.log(videoId)
        requestVideo.open('GET', 'https://youtube.googleapis.com/youtube/v3/videos?part=snippet&part=statistics&id=' + videoId.join('&id=') + '&key={{ googleAPI.APIkey  }}', true);
        requestVideo.send('');

    }
    
    const populateFeaturedVideo = (featuredVideos) => {
        
        let videoIds = (featuredVideos.items.map(item => item.contentDetails.videoId))

        getVideoDetails(videoIds, (err,resp) => {
            if (err) { throw err; }
            let htmlStr = ''
            const videoList = JSON.parse(resp)
            console.log(videoList)
            videoList.items.forEach((video) => {
                snippet = video.snippet
                stats = video.statistics
                htmlStr += '<li class="splide__slide px-3">'
                htmlStr += '<div class="card" data-video-id="' + video.id + '"><div class="card-body p-0">'
                htmlStr += '<div class="thumbnail w-100 rounded-top" style="background-image: url(' + snippet.thumbnails.high.url + ');" ></div>'
                htmlStr += '<div class="p-4">'
                htmlStr += '<h5 class="title font-weight-normal">' + snippet.title + '</h5>'
                htmlStr += '<p class="description m-0">' + stats.viewCount + ' views</p>'
                htmlStr += '</div>'
                htmlStr += '</div></div>'
                htmlStr += '</li>'
            })
            document.querySelector('.splide--featured-video .splide__list').innerHTML += htmlStr
            let splideFeaturedVideo = new Splide( '.splide--featured-video', {
                //type: 'loop',
                //waitForTransition: true,
                //autoWidth: true,
                arrows: false,
                navigation: false,
                autoplay: false,
                keyboard: false,
                cover: false,
                perPage: 2,
                pagination: false,
                padding: {
                    //left: '0.75rem',
                    right: 200
                },
                breakpoints: { 
                    992: {
                        padding: {
                            //left: '0.75rem',
                            right: 100
                        },
                    },
                    768: {
                        padding: {
                            left: '0.75rem',
                            right: 50
                        },
                        perPage: 1,
                        perMove: 1,
                        focus: 'center',
                    }
                }
            }).mount()
        })
    }

    const reloadVideoList = () => {
        const curPlaylistId = document.getElementById('select--video-category').value

        let requestCategoryVideo = new XMLHttpRequest()
        
        requestCategoryVideo.onreadystatechange = function() {
            if(requestCategoryVideo.readyState < 4) {
                return;
            }
            if(requestCategoryVideo.status !== 200) {
                return;
            }
            if(requestCategoryVideo.readyState === 4) {

                const videos = JSON.parse(requestCategoryVideo.responseText)
        
                let videoIds = (videos.items.map(item => item.contentDetails.videoId))

                getVideoDetails(videoIds, (err,resp) => {
                    if (err) { throw err; }
                    let htmlStr = ''
                    const videoList = JSON.parse(resp)
                    console.log(videoList)
                    videoList.items.forEach((video) => {
                        snippet = video.snippet
                        stats = video.statistics
                        htmlStr += '<div class="video-category__item grid-item" data-video-id="' + video.id + '"><div class="d-flex">'
                        htmlStr += '<div class=" mr-4 col-5 px-0"><div class="thumbnail" style="background-image: url(' + snippet.thumbnails.high.url + ');" ></div></div>'
                        htmlStr += '<div class="col px-0">'
                        htmlStr += '<h5 class="title font-weight-normal">' + snippet.title + '</h5>'
                        htmlStr += '<p class="description m-0">' + stats.viewCount + ' views</p>'
                        htmlStr += '</div>'
                        htmlStr += '</div></div>'
                    })
                    document.querySelector('.grid-container--video-category').innerHTML = htmlStr
                })
            }
        };

        requestCategoryVideo.open('GET', 'https://youtube.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=' + curPlaylistId + '&key={{ googleAPI.APIkey  }}', true);
        requestCategoryVideo.send('');
    }

    document.addEventListener( 'DOMContentLoaded', function () {

        // Populate featured video
        let requestFeaturedVideo = new XMLHttpRequest()
        
        requestFeaturedVideo.onreadystatechange = function() {
            if(requestFeaturedVideo.readyState < 4) {
                return;
            }
            if(requestFeaturedVideo.status !== 200) {
                return;
            }
            if(requestFeaturedVideo.readyState === 4) {
                populateFeaturedVideo(JSON.parse(requestFeaturedVideo.responseText));
            }
        };

        requestFeaturedVideo.open('GET', 'https://youtube.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=UUaAUoOw0yHozIzd6nCI3vBA&key={{ googleAPI.APIkey  }}', true);
        requestFeaturedVideo.send('');

        reloadVideoList();

    })

    document.getElementById('select--video-category').addEventListener('change',reloadVideoList)
</script>

