---
layout: 'layouts/authenticated'
title: 'Katalog Produk GSO - Pencarian'
order: 1800
status: 'completed'
body_classes: 'auth catalogue-gso catalogue-gso-search'
topbar: true
topbar_title: 'Katalog Produk GSO'
---

<section id="section__katalog-gso" class="py-6">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="text-dark text-uppercase mb-6">Pencarian Produk Dutro</h5>
                <div class="row">
                    <div class="col-12 col-md">
                        <div class="form-group">
                            <select name="" id="" class="form-control select-control">
                                <option value="">Pilih Varian Karoseri</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="form-group">
                            <select name="" id="" class="form-control select-control">
                                <option value="">Arm Roll</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="form-group">
                            <button class="btn btn-dark btn-block rounded-pill font-weight-bold">Cari</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>