@charset "UTF-8";
*,
.ember-power-calendar,
.ember-power-calendar-days,
.ember-power-calendar-days *,
.ember-power-calendar-nav,
.ember-power-calendar-nav *,
.ember-power-select-dropdown * {
	box-sizing: border-box
}


@media only screen and (min-width:678px) {
	.ember-power-calendar {
		width: 362px;
		margin: 0 auto;
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="1"] {
		padding-left: 52px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="2"] {
		padding-left: 104px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="3"] {
		padding-left: 156px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="4"] {
		padding-left: 208px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="5"] {
		padding-left: 260px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="6"] {
		padding-left: 312px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="1"] {
		padding-right: 52px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="2"] {
		padding-right: 104px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="3"] {
		padding-right: 156px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="4"] {
		padding-right: 208px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="5"] {
		padding-right: 260px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="6"] {
		padding-right: 312px
	}
	.ember-power-calendar .ember-power-calendar-day,
	.ember-power-calendar .ember-power-calendar-weekday {
		max-width: 50px;
		max-height: 50px;
		width: 50px;
		height: 50px
	}
	.ember-power-calendar .ember-power-calendar-week,
	.ember-power-calendar .ember-power-calendar-weekdays {
		height: 52px;
		padding-left: 0;
		padding-right: 0
	}
	.ember-power-calendar .ember-power-calendar-day {
		color: #bbb
	}
	.ember-power-calendar .ember-power-calendar-weekdays {
		color: #333
	}
	.ember-power-calendar .ember-power-calendar-nav-control {
		color: #0078c9
	}
	.ember-power-calendar .ember-power-calendar-nav-control:focus {
		//color: #30acff
	}
	.ember-power-calendar .ember-power-calendar-day--current-month {
		color: #656D78;
		//background-color: #F5F7FA
	}
	.ember-power-calendar .ember-power-calendar-day--selected,
	.ember-power-calendar .ember-power-calendar-day--selected:not([disabled]):hover {
		//background-color: #940A0A;
		background-color: #888888;
		border-radius: 25px;
		color: #FFFFFF;
	}
	.ember-power-calendar .ember-power-calendar-day--other-month:not([disabled]):hover {
		color: #656D78
	}
	.ember-power-calendar .ember-power-calendar-day--today {
		background-color: #000000;
		border-radius: 25px;
		color: #FFFFFF;
	}

	.ember-power-calendar .ember-power-calendar-day:not([disabled]):hover {
		//background-color: #eee
		background-color: #940A0A;
		border-radius: 25px;
		color: #FFFFFF;
	}
	.ember-power-calendar .ember-power-calendar-day--focused {
		//box-shadow: inset 0 -2px 0 0 #0078c9
	}
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-end,
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-end:hover,
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-start,
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-start:hover {
		background-color: #000000;
		border-radius: 25px;
		color: #FFFFFF;
	}
	.ember-power-calendar .ember-power-calendar-day--selected,
	.ember-power-calendar .ember-power-calendar-day--selected:not([disabled]):hover {
		background-color: #c9e9ff;
		color: #656D78
	}
	.ember-power-calendar .ember-power-calendar-day--other-month:not([disabled]):hover {
		color: #656D78
	}

	.ember-power-calendar .ember-power-calendar-nav-control {
		background-color: #E3E3E3;
		border-radius: 14px;
		width: 28px;
		height: 28px;
		font-size: 15px;
		color: #888888;
	}
}

@media only screen and (max-width:678px) {
	.ember-power-calendar {
		width: 306px;
		margin: 0 auto;
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="1"] {
		padding-left: 44px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="2"] {
		padding-left: 88px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="3"] {
		padding-left: 132px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="4"] {
		padding-left: 176px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="5"] {
		padding-left: 220px
	}
	.ember-power-calendar .ember-power-calendar-week:first-child[data-missing-days="6"] {
		padding-left: 264px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="1"] {
		padding-right: 44px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="2"] {
		padding-right: 88px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="3"] {
		padding-right: 132px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="4"] {
		padding-right: 176px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="5"] {
		padding-right: 220px
	}
	.ember-power-calendar .ember-power-calendar-week:last-child[data-missing-days="6"] {
		padding-right: 264px
	}
	.ember-power-calendar .ember-power-calendar-day,
	.ember-power-calendar .ember-power-calendar-weekday {
		max-width: 42px;
		max-height: 42px;
		width: 42px;
		height: 42px
	}
	.ember-power-calendar .ember-power-calendar-week,
	.ember-power-calendar .ember-power-calendar-weekdays {
		height: 44px;
		padding-left: 0;
		padding-right: 0
	}
	.ember-power-calendar .ember-power-calendar-day {
		color: #bbb
	}
	.ember-power-calendar .ember-power-calendar-weekdays {
		color: #333
	}
	.ember-power-calendar .ember-power-calendar-nav-control {
		color: #0078c9
	}
	.ember-power-calendar .ember-power-calendar-nav-control:focus {
		//color: #30acff
	}
	.ember-power-calendar .ember-power-calendar-day--current-month {
		color: #656D78;
		//background-color: #F5F7FA
	}
	.ember-power-calendar .ember-power-calendar-day--selected,
	.ember-power-calendar .ember-power-calendar-day--selected:not([disabled]):hover {
		//background-color: #940A0A;
		background-color: #888888;
		border-radius: 21px;
		color: #FFFFFF;
	}
	.ember-power-calendar .ember-power-calendar-day--other-month:not([disabled]):hover {
		color: #656D78
	}
	.ember-power-calendar .ember-power-calendar-day--today {
		background-color: #000000;
		border-radius: 21px;
		color: #FFFFFF;
	}

	.ember-power-calendar .ember-power-calendar-day:not([disabled]):hover {
		//background-color: #eee
		background-color: #940A0A;
		border-radius: 21px;
		color: #FFFFFF;
	}
	.ember-power-calendar .ember-power-calendar-day--focused {
		//box-shadow: inset 0 -2px 0 0 #0078c9
	}
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-end,
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-end:hover,
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-start,
	.ember-power-calendar .ember-power-calendar-day--selected.ember-power-calendar-day--range-start:hover {
		background-color: #000000;
		border-radius: 21px;
		color: #FFFFFF;
	}

	.ember-power-calendar .ember-power-calendar-nav-control {
		background-color: #E3E3E3;
		border-radius: 14px;
		width: 28px;
		height: 28px;
		font-size: 15px;
		color: #888888;
	}

}