html & {
  height: 100%;
  background-color: $white;
}

&.unauth {
    #section__main {
        background: #111111 url('../assets/images/bg-login.png') center no-repeat;
        background-size: cover;
        height: 100vh;
        .img-logo-heart-horizontal {
            margin-bottom: 6rem;
        }
        .container-login-form {
            width: 100%;
            max-width: 480px;
            display: block;
        }
        .version {
            font-size: 12px;
        }
        .copyright {
            font-size: 8px;
        }
    }
}

&.auth {
    #topbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        button {
            height: $spacer * 1.5;
            border: 0;
            background: transparent;
            padding: 0;
            margin: 0;
            line-height: $spacer * 1.5;
        }
        h5 {
            font-weight: 400;
        }
    }

    &.has-topbar {
        padding-top: $spacer * 3.5;
    }

    section {
        & > .container:not(.no-padding),
        & > .container-fluid:not(.no-padding) {
            padding-right: $spacer * 1.5;
            padding-left:  $spacer * 1.5;
        }
    }
}

#content {
    background: $gray-100;
}

.img-icon {
    width: 3rem;
    height: 3rem;
}

.square {
    position: relative;
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .content {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.popup-overlay {
    background: rgba($black,.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    .popup {
        background: $white;
        .splide--gallery {
            position: relative;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: $spacer * 1.5;
            .splide__arrows {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                z-index: 9;
                pointer-events: none;
                display: flex;
                justify-content: space-between;
                padding-left: 10px;
                padding-right: 10px;
                transform: translateY(-50%);
                .splide__arrow {
                    pointer-events: all;
                    width: 20px;
                    height: 20px;
                    background: none;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:disabled {
                        opacity: 0;
                        pointer-events: none;
                    }
                    &.splide__arrow--next {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.search-box {
    .search-box {
        border: 0;
        outline: 0;
        box-shadow: 0;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        padding: 0;
    }
}

.card--accordion {
    .card-header {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .card-body {
        display: none;
    }
    &.is-active {
        .card-header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-icon {
                transform: rotate(180deg);
            }
        }
        .card-body {
            display: block;
        }
    }
}

.btn {
    .bx {
        font-size: unset;
    }
}

.form-group {
    &.form-group--alt {
        .form-control {
            background-color: #F2F5F9;
            border-color: #E3E7EC;
            border-width: 1px;
            border-radius: $border-radius-sm;

        }
    }
}

.table-container {
    overflow-x: auto;
}
.table {
    thead {
        tr {
            th {
                vertical-align: middle !important;
                background: #888888 !important;
                border: 0;
                &:first-child {
                    border-top-left-radius: $spacer * .5;
                }
                &:last-child {
                    border-top-right-radius: $spacer * .5;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                &:first-child {
                    //border-left: 1px solid #888888;
                }
                &:last-child {
                    //border-right: 1px solid #888888;
                }
            }
            &:first-child {
                td {
                    border-top: 0;
                }
            }
            &:last-child {
                td {
                    border-bottom-color: #555555;
                    &:first-child {
                        border-bottom-left-radius: $spacer * .5;
                    }
                    &:last-child {
                        border-bottom-right-radius: $spacer * .5;
                    }
                }
            }
        }
    }
}