&.dealer {
    #map {
        .gm-style-iw-c {
            padding: 0;
            background-color: $white;
            border-radius: $border-radius;
            button {
                background: url('../assets/images/ic-map-close.png') center no-repeat !important;
                background-size: 50% !important;
                top: 4px !important;
                right: 0 !important;
                img {
                    display: none !important;
                }
            }
            .gm-style-iw-d {
                max-height: unset !important;
                overflow: hidden !important;
                .marker-info-container {
                    .logo-heart-horizontal {
                        height: 20px;
                        margin: $spacer * .5 $spacer;
                    }
                    .marker-info {
                        padding: $spacer;
                        color: $dark;
                        ul {
                            margin: 0;
                            padding-left: $spacer;
                            li {
                                line-height: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
    #section__dealer-list {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: $spacer * 2;
            .grid-item {
                ul {
                    li {
                        line-height: 2em;
                    }
                }
            }
            @include media-breakpoint-up(md) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}