&.news-list {
    #section__news-list {
        .featured-image {
            width: 80px;
            height: 80px;
            background: center no-repeat;
            background-size: cover;
        }
    }
}