&.simulasi-kredit {
    .grid--leasing-form {
        display: grid;
        grid-template-columns: 1fr;
        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1.5rem;
        }
    }
}